@font-face {
    font-family: hora;
    src: url(./fonts/VarelaRound-Regular.ttf);
}

:root{
    --marco-principal: rgb(0, 0, 0);
    --marco-secundario: grey;
}




.marco{
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 27px;
    height: 700px;
    width: 1200px;
    border-radius: 35px;
    background-color: black;
    transform: translate(-50%,-50%);
}

.fondo img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: white;
    transform: translate(-50%,-50%);
    z-index: inherit;
    pointer-events: none;
}

#boton{
    position: absolute;
    background-color: var(--marco-principal);
    height: 1.5vh;
    width: 2.5vw;
    border: solid 1px var(--marco-secundario);
    border-radius: 10px;
    bottom: -2.6%;
    left: 50%;
    transform: translate(-50%,20%);
    transition: 0.4s;
}

#boton:hover{
    background-color: var(--marco-secundario);
}

#boton:active{
    transform: translate(-50%,35%);
}

.iconos{
    margin: 5px;
    pointer-events: none;
}

.fa-duotone{
    position: absolute;
    z-index: 2;
    margin: 5px;
    color: white;
    font-size: 25px;
    left: 10%;
    top: -6px;
}
.fa-solid{
    position: absolute;
    z-index: 2;
    margin: 5px;
    color: white;
    font-size: 25px;
    right: 10px;
}

.hora{
    position: absolute;
    z-index: 2;
    font-size: 100px;
    font-family: hora;
    left: 35%;
    color: white;
}
.fecha{
    position: absolute;
    z-index: 2;
    font-size: 30px;
    font-family: hora;
    left: 31.5%;
    bottom: 300px;
    color: white;
}

.internet{
    position: absolute;
    z-index: 2;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 660px;
    color: white;
}

.container {
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -65px;
    margin-top: -20px;
    width: 130px;
    height: 40px;
    text-align: center;
}
.container button {
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff;
    border: 2px solid #1ECD97;
    color:#1ECD97;
    letter-spacing: 1px;
    text-shadow: 0px;
    font-size: 12px;
    font-weight: bold;
}